<section id="description">
  <h1 class="text-center">The Expanse</h1>
  <h3 class="text-center">Terrific space opera written by <strong>James S.A. Corey</strong></h3>
  <p class="lead">The Expanse is a series of realistic sci fi novels and short-stories written by
    James S.A. Corey. Set in a distant future, when people have colonized most of
    our solar system & are setting out to go beyond its limits, the saga is a perfect
    mix of "food for thought" and thrilling adventure.</p>
  <figure>
    <img id="cover" src="http://2.bp.blogspot.com/-eODNv7FQolI/VlNHi_5Eo9I/AAAAAAAA1aY/MKhU1KXDYUE/w1200-h630-p-nu/Expanse_hero_key_art.jpg"
    alt="expanse hero key art">
    <figcaption class="text-center">Key art for The Expanse TV series</figcaption>
  </figure>
  <p><em>The series is being adapted for television by SyFy, with the first season having debuted at the end of 2015.</em>
  </p>
</section>
<section class="characters">
  <h3 class="text-center">Main Characters</h3>
  <p>
    Each work in the series has a few POV characters, who are also main characters in
    the story. However, across all novels it is the crew of the independent frigate
    Rocinante (Roci) that find themselves affecting the course of.
  </p>
  <h4>Roci's Crew:</h4>
  <ul>
    <li><strong>James Holden</strong>, Captain</li>
    <li><strong>Naomi Nagata</strong>, Executive Officer</li>
    <li><strong>Alex Kamal</strong>, Pilot</li>
    <li><strong>Amos Burton</strong>, Chief Engineer</li>
  </ul>
</section>